node_modules
.vs
bin/Debug
/.NET MVC/ECommerceApp/.vs/
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/appsettings.Development.json
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/appsettings.json
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Azure.Core.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Azure.Identity.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/ECommerceApp.runtimeconfig.json
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/ECommerceApp.staticwebassets.runtime.json
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Humanizer.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/Mono.TextTemplating.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/System.CodeDom.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/System.Composition.Convention.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/System.Composition.Hosting.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/System.Composition.Runtime.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/System.Composition.TypedParts.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/System.Memory.Data.dll
/.NET MVC/ECommerceApp/ECommerceApp/bin/Debug/net8.0/System.Runtime.Caching.dll
