node_modules
.vs
bin/Debug
/.NET MVC/ECommerceApp/.vs/
/.NET MVC/ECommerceApp/ECommerceApp/bin/
/.NET MVC/ECommerceApp/Ecom.Models/obj/Debug/net8.0/Ecom.Models.AssemblyInfo.cs
/.NET MVC/ECommerceApp/Ecom.Models/obj/Debug/net8.0/Ecom.Models.AssemblyInfoInputs.cache
/.NET MVC/ECommerceApp/Ecom.DataAccess/bin/Debug/net8.0/Ecom.DataAccess.deps.json
/.NET MVC/ECommerceApp/Ecom.DataAccess/bin/Debug/net8.0/Ecom.DataAccess.dll
/.NET MVC/ECommerceApp/Ecom.DataAccess/bin/Debug/net8.0/Ecom.DataAccess.pdb
/.NET MVC/ECommerceApp/Ecom.DataAccess/bin/Debug/net8.0/Ecom.Models.dll
/.NET MVC/ECommerceApp/Ecom.DataAccess/bin/Debug/net8.0/Ecom.Models.pdb
/.NET MVC/ECommerceApp/Ecom.DataAccess/obj/Debug/net8.0/Ecom.DataAccess.AssemblyInfo.cs
/.NET MVC/ECommerceApp/Ecom.DataAccess/obj/Debug/net8.0/Ecom.DataAccess.AssemblyInfoInputs.cache
/.NET MVC/ECommerceApp/Ecom.DataAccess/obj/Debug/net8.0/Ecom.DataAccess.assets.cache
/.NET MVC/ECommerceApp/Ecom.DataAccess/obj/Debug/net8.0/Ecom.DataAccess.csproj.AssemblyReference.cache
/.NET MVC/ECommerceApp/Ecom.DataAccess/obj/Debug/net8.0/Ecom.DataAccess.csproj.CoreCompileInputs.cache
/.NET MVC/ECommerceApp/Ecom.DataAccess/obj/Debug/net8.0/Ecom.DataAccess.dll
/.NET MVC/ECommerceApp/Ecom.DataAccess/obj/Debug/net8.0/Ecom.DataAccess.pdb
/.NET MVC/ECommerceApp/Ecom.DataAccess/obj/Debug/net8.0/Ecom.DataAccess.sourcelink.json
/.NET MVC/ECommerceApp/Ecom.DataAccess/obj/Debug/net8.0/refint/Ecom.DataAccess.dll
/.NET MVC/ECommerceApp/Ecom.DataAccess/obj/Ecom.DataAccess.csproj.nuget.dgspec.json
/.NET MVC/ECommerceApp/Ecom.DataAccess/obj/project.assets.json
/.NET MVC/ECommerceApp/Ecom.DataAccess/obj/project.nuget.cache
/.NET MVC/ECommerceApp/Ecom.Models/bin/Debug/net8.0/Ecom.Models.deps.json
/.NET MVC/ECommerceApp/Ecom.Models/bin/Debug/net8.0/Ecom.Models.dll
/.NET MVC/ECommerceApp/Ecom.Models/bin/Debug/net8.0/Ecom.Models.pdb
/.NET MVC/ECommerceApp/Ecom.DataAccess/obj/Debug/net8.0/ref/Ecom.DataAccess.dll
/.NET MVC/ECommerceApp/ECommerceApp/obj/Debug/net8.0/apphost.exe
/.NET MVC/ECommerceApp/ECommerceApp/obj/Debug/net8.0/ECommerceApp.AssemblyInfo.cs
/.NET MVC/ECommerceApp/ECommerceApp/obj/Debug/net8.0/ECommerceApp.AssemblyInfoInputs.cache
/.NET MVC/ECommerceApp/ECommerceApp/obj/Debug/net8.0/ECommerceApp.assets.cache
/.NET MVC/ECommerceApp/ECommerceApp/obj/Debug/net8.0/ECommerceApp.csproj.AssemblyReference.cache
/.NET MVC/ECommerceApp/ECommerceApp/obj/Debug/net8.0/ECommerceApp.csproj.CoreCompileInputs.cache
/.NET MVC/ECommerceApp/ECommerceApp/obj/Debug/net8.0/ECommerceApp.csproj.FileListAbsolute.txt
/.NET MVC/ECommerceApp/ECommerceApp/obj/Debug/net8.0/ECommerceApp.dll
/.NET MVC/ECommerceApp/ECommerceApp/obj/Debug/net8.0/ECommerceApp.GeneratedMSBuildEditorConfig.editorconfig
/.NET MVC/ECommerceApp/ECommerceApp/obj/Debug/net8.0/ECommerceApp.MvcApplicationPartsAssemblyInfo.cs
/.NET MVC/ECommerceApp/ECommerceApp/obj/Debug/net8.0/ECommerceApp.pdb
/.NET MVC/ECommerceApp/ECommerceApp/obj/Debug/net8.0/ECommerceApp.sourcelink.json
/.NET MVC/ECommerceApp/ECommerceApp/obj/Debug/net8.0/project.razor.vs.json
/.NET MVC/ECommerceApp/ECommerceApp/obj/Debug/net8.0/staticwebassets/msbuild.ECommerceApp.Microsoft.AspNetCore.StaticWebAssets.props
/.NET MVC/ECommerceApp/ECommerceApp/obj/Debug/net8.0/staticwebassets.build.json
/.NET MVC/ECommerceApp/ECommerceApp/obj/Debug/net8.0/staticwebassets.development.json
/.NET MVC/ECommerceApp/ECommerceApp/obj/Debug/net8.0/staticwebassets.pack.json
/.NET MVC/ECommerceApp/ECommerceApp/obj/ECommerceApp.csproj.nuget.dgspec.json
/.NET MVC/ECommerceApp/ECommerceApp/obj/ECommerceApp.csproj.nuget.g.props
/.NET MVC/ECommerceApp/ECommerceApp/obj/ECommerceApp.csproj.nuget.g.targets
/.NET MVC/ECommerceApp/ECommerceApp/obj/project.assets.json
/.NET MVC/ECommerceApp/ECommerceApp/obj/project.nuget.cache
/.NET MVC/ECommerceApp/ECommerceApp/obj/Debug/net8.0/ref/ECommerceApp.dll
/.NET MVC/ECommerceApp/ECommerceApp/obj/Debug/net8.0/refint/ECommerceApp.dll
/.NET MVC/ECommerceApp/Ecom.Models/obj/Debug/net8.0/Ecom.Models.assets.cache
/.NET MVC/ECommerceApp/Ecom.Models/obj/Debug/net8.0/Ecom.Models.csproj.AssemblyReference.cache
/.NET MVC/ECommerceApp/Ecom.Models/obj/Debug/net8.0/Ecom.Models.csproj.CoreCompileInputs.cache
/.NET MVC/ECommerceApp/Ecom.Models/obj/Debug/net8.0/Ecom.Models.csproj.FileListAbsolute.txt
/.NET MVC/ECommerceApp/Ecom.Models/obj/Debug/net8.0/Ecom.Models.dll
/.NET MVC/ECommerceApp/Ecom.Models/obj/Debug/net8.0/Ecom.Models.pdb
/.NET MVC/ECommerceApp/Ecom.Models/obj/Debug/net8.0/Ecom.Models.sourcelink.json
/.NET MVC/ECommerceApp/Ecom.Models/obj/Debug/net8.0/refint/Ecom.Models.dll
/.NET MVC/ECommerceApp/Ecom.Models/obj/Ecom.Models.csproj.nuget.dgspec.json
/.NET MVC/ECommerceApp/Ecom.Models/obj/Ecom.Models.csproj.nuget.g.targets
/.NET MVC/ECommerceApp/Ecom.Models/obj/project.assets.json
/.NET MVC/ECommerceApp/Ecom.Models/obj/project.nuget.cache
/.NET MVC/ECommerceApp/Ecom.Models/obj/Debug/net8.0/ref/Ecom.Models.dll
/.NET MVC/ECommerceApp/ECommerceApp/appsettings.json
/.NET MVC/ECommerceApp/ECommerceApp/ECommerceApp.csproj
/.NET MVC/ECommerceApp/Ecom.Utility/bin/Debug/net8.0/Ecom.Utility.deps.json
/.NET MVC/ECommerceApp/Ecom.Utility/bin/Debug/net8.0/Ecom.Utility.dll
/.NET MVC/ECommerceApp/Ecom.Utility/bin/Debug/net8.0/Ecom.Utility.pdb
/.NET MVC/ECommerceApp/Ecom.Utility/obj/Debug/net8.0/ref/Ecom.Utility.dll
/.NET MVC/ECommerceApp/Ecom.Utility/obj/Debug/net8.0/Ecom.Utility.AssemblyInfo.cs
/.NET MVC/ECommerceApp/Ecom.Utility/obj/Debug/net8.0/Ecom.Utility.AssemblyInfoInputs.cache
/.NET MVC/ECommerceApp/Ecom.Utility/obj/Debug/net8.0/Ecom.Utility.assets.cache
/.NET MVC/ECommerceApp/Ecom.Utility/obj/Debug/net8.0/Ecom.Utility.csproj.AssemblyReference.cache
/.NET MVC/ECommerceApp/Ecom.Utility/obj/Debug/net8.0/Ecom.Utility.csproj.BuildWithSkipAnalyzers
/.NET MVC/ECommerceApp/Ecom.Utility/obj/Debug/net8.0/Ecom.Utility.csproj.CoreCompileInputs.cache
/.NET MVC/ECommerceApp/Ecom.Utility/obj/Debug/net8.0/Ecom.Utility.csproj.FileListAbsolute.txt
/.NET MVC/ECommerceApp/Ecom.Utility/obj/Debug/net8.0/Ecom.Utility.dll
/.NET MVC/ECommerceApp/Ecom.Utility/obj/Debug/net8.0/Ecom.Utility.pdb
/.NET MVC/ECommerceApp/Ecom.Utility/obj/Debug/net8.0/Ecom.Utility.sourcelink.json
/.NET MVC/ECommerceApp/Ecom.Utility/obj/Debug/net8.0/refint/Ecom.Utility.dll
/.NET MVC/ECommerceApp/Ecom.Utility/obj/Ecom.Utility.csproj.nuget.dgspec.json
/.NET MVC/ECommerceApp/Ecom.Utility/obj/Ecom.Utility.csproj.nuget.g.props
/.NET MVC/ECommerceApp/Ecom.Utility/obj/Ecom.Utility.csproj.nuget.g.targets
/.NET MVC/ECommerceApp/Ecom.Utility/obj/project.assets.json
/.NET MVC/ECommerceApp/Ecom.Utility/obj/project.nuget.cache
/.NET MVC/ECommerceApp/Backup/ECommerceApp.sln
/.NET MVC/ECommerceApp/UpgradeLog.htm
/.NET MVC/ECommerceApp/Ecom.DataAccess/bin/Debug/net8.0/Ecom.DataAccess.runtimeconfig.json
/.NET MVC/ECommerceApp/Ecom.DataAccess/bin/Debug/net8.0/Ecom.Utility.dll
/.NET MVC/ECommerceApp/Ecom.DataAccess/bin/Debug/net8.0/Ecom.Utility.pdb
/.NET MVC/ECommerceApp/Ecom.DataAccess/obj/Debug/net8.0/Ecom.DataAccess.csproj.FileListAbsolute.txt
/.NET MVC/ECommerceApp/Ecom.DataAccess/obj/Ecom.DataAccess.csproj.nuget.g.targets
